! Enable meta keys (like Alt) in Xterm
xterm*metaSendsEscape: true


!-## URxvt 

! Settings
URxvt.loginShell: true
URxvt.cursorBlink: true
URxvt.perl-ext-common: selection-to-clipboard
URxvt.clipboard.autocopy: false

! Font
URxvt.font: xft:Hack:pixelsize=12:antialias=true

! Window
URxvt.depth: 32
URxvt.scrollBar: false

! special
URxvt.foreground:   #cc00ff
URxvt.background:   rgba:1000/0000/0800/d000
URxvt.cursorColor:  #ff0099

! black
URxvt.color0:       #000000
URxvt.color8:       #808080

! red
URxvt.color1:       #00a258
URxvt.color9:       #00a258

! green
URxvt.color2:       #b123a5
URxvt.color10:      #ba14e1

! yellow
URxvt.color3:       #ff0099
URxvt.color11:      #ff0099

! blue
URxvt.color4:       #0066ff
URxvt.color12:      #0066ff

! magenta
URxvt.color5:       #cc00ff
URxvt.color13:      #cc00ff

! cyan
URxvt.color6:       #00a258
URxvt.color14:      #00a258

! white
URxvt.color7:       #666666
URxvt.color15:      #006aff


! vim: set ft=xdefaults:
