!-## URxvt 

! Settings
URxvt.loginShell: true
URxvt.cursorBlink: true
URxvt.perl-ext-common: selection-to-clipboard
URxvt.clipboard.autocopy: false

! Font
URxvt.font: xft:Hack:pixelsize=11:antialias=true

! Window
URxvt.depth: 32
URxvt.scrollBar: false

! Color scheme
#define c_white        #FFFFFF
#define c_deep_purple  #72379b
#define c_east_purple  #9600FF
#define c_east_blue    #00B8FF
#define c_hot_pink     #FF00C1
#define c_neon_purple  #E810E8
#define c_neon_teal    #00FFF9

#define t_background   [70]#3a1a2d
#define t_foreground   c_neon_purple

URxvt.background: t_background
URxvt.foreground: t_foreground

URxvt.color8: c_deep_purple
URxvt.color9: c_white
URxvt.color10: c_white
URxvt.color14: c_hot_pink
URxvt.color12: c_east_purple

! vim: set ft=xdefaults:
