!-## URxvt 

! Settings
URxvt.loginShell: true
URxvt.cursorBlink: true

! Font
URxvt.font: xft:Hack:pixelsize=11:antialias=true

! Window
URxvt.depth: 32
URxvt.scrollBar: false

! Color scheme
#define t_background   [65]#914364
#define t_foreground   #9c0b9b
#define c_candy_red    #524d9b
#define c_desert_sand  #E810E8
#define c_mute_pink    #E856E8
#define c_int_orange   #AC40AC
#define c_sizzle_red   #FF3A54

URxvt.background: t_background
URxvt.foreground: t_foreground

URxvt.color8: c_candy_red
URxvt.color9: c_desert_sand
URxvt.color10: c_mute_pink
URxvt.color14: c_int_orange
URxvt.color12: c_sizzle_red

! vim: set ft=xdefaults:
